* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    background: radial-gradient(rgb(27, 88, 254), rgb(0, 26, 98));
}

.breathe:hover {
    animation: breathe 0.7s infinite;
    border: 3px solid rgb(64, 253, 255);
}

@keyframes breathe {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

/* Header Styling */
header {
    width: 100vw;
    height: 8vh;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(64, 253, 255, 0.75);
}

#logo {
    width: 5%;
    margin-top: 3px;
    margin-right: 11px;
}

h1 {
    font-size: 35px;
    color: white;
}


/* Table and card styling */
#table {
    display: grid;
    grid-template-columns: repeat(6, 15vmin);
    gap: 3vmin;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 1.5vmin;
    margin-bottom: 5px;
}

#table > div {
    background: linear-gradient(rgb(26, 87, 254), rgb(3, 39, 138));
    height: 15vmin;
    border-radius: 1.5vmin;
    box-shadow: 0px 2px 8px 1px rgba(91, 91, 91, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mickey-head {
    width: 75%;
}

/* footer styling */

footer {
    height: 10vmin;
    margin-top: -20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > button {
    margin: 5vmin 4vmin;
    padding: 1vmin 4vmin;
    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    border-radius: 45px;
    border: 4px solid rgba(255, 255, 255, 0);
}

button:hover {
    border: 4px solid rgb(64, 253, 255);
    background-color: white;
    transform: scale(1.1);
}